Добро пожаловать в IPython Notebook
--------------------------

Данный notebook печатает классическое `"Hello world!`.

Для запуска блока команд, нажмите на него, и используйте SHIFT+ENTER

Также есть дополнительные keyboard hotkeys (описанные в меню Help)

In [1]:
print ("Hello world!")

Hello world!

Проверим, что у вас подключена возможность работы с SQL

In [3]:
%load_ext sql
%sql sqlite:///tst_1.db

'Connected: None@tst_1.db'

Однострочный SQL-запрос

In [5]:
%sql select 1

Done.

[(1,)]

Многострочный SQL-запрос

In [9]:
%%sql
Select 1
union
select 2

Done.

[(1,), (2,)]

Напишите SQL-запрос возвращающий ваше имя